@charset "utf-8";

* {
	margin:0;
	padding:0;
}
body {
	height:100%;
	width:100%;
	font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}

/* header */
.header{
	background-color:#414348;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.header_logo{
	margin-left:100px;
	padding:5px 0px;
	float:left;
}
.header_buttons{
	text-align:right;
	padding-right:80px;
	padding-top:5px;
}
/* mypage button */
.header_button1{
	border-radius: 50%;
    border: 2px solid white;
}
.header_button1:hover{
	border-radius: 50%;
    border: 2px solid #a2d8e4;
}
/* cart button */
.header_button2{
	margin-left:5px;
	border-radius: 50%;
    border: 2px solid white;
}
.header_button2:hover{
	margin-left:5px;
	border-radius: 50%;
    border: 2px solid #a2d8e4;
}
/* hedder ここまで */




/* footer */

div#footer-content
{
	/* 一番下に固定 */
	position: fixed;
    bottom: 0;
	margin-top:50px;
	background-color:#414348;   
	text-align: center;
	color:#fff; 
	padding:10px 0 20px;      
	height:60px;             
	width:100%;               
}
/* footer ここまで */