@charset "utf-8";

* {
	margin:0;
	padding:0;
}
body {
	height:100%;
	width:100%;
	font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}

/* header */
.header{
	background-color:#414348;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.header_logo{
	margin-left:100px;
	padding:5px 0px;
	float:left;
}
.header_buttons{
	text-align:right;
	padding-right:80px;
	padding-top:5px;
}
/* mypage button */
.header_button1{
	border-radius: 50%;
    border: 2px solid white;
}
.header_button1:hover{
	border-radius: 50%;
    border: 2px solid #a2d8e4;
}
/* cart button */
.header_button2{
	margin-left:5px;
	border-radius: 50%;
    border: 2px solid white;
}
.header_button2:hover{
	margin-left:5px;
	border-radius: 50%;
    border: 2px solid #a2d8e4;
}
/* hedder ここまで */

h3{
	margin:120px 0 20px 70px;
}

#item-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;   /*全体の中央寄せ*/
}
#container {
  width: 100%;
  margin: 0 auto;   /*中央寄せ*/
  position: relative;
}
.item {
  margin: 10px;
  width: 140px;
  padding: 8px;
  border: 1px solid #eee;
}
/*
.item.x2 {
  width: 320px;
}
.item.x3 {
  width: 500px;
}
.item img {
  width: 100%;
}
*/
/* footer */
#footer
{
	display:none;
	margin-top:300px;	/* 各自変更すること */
	background-color:#414348;   
	text-align: center;
	color:#fff; 
	padding:10px 0 20px;      
	height:60px;             
	width:100%;               
}
/* footer ここまで */